---
import Main from "../layouts/main.astro";
import BioButton from "../components/BioButton.astro";
import { Picture } from "astro:assets";
import profileImage from "../../public/profilepic.jpg";

const sections = [
  {
    id: "current-job",
    title: "Current Job",
    content:
      "I'm currently leading the Engineering team at Quick Algorithm, a startup working on Scops, a platform for advanced maintenance based on IoT data (CMMS / Asset Performance Management).",
  },
  {
    id: "work-interests",
    title: "Work Interests",
    content:
      "My interests are at the intersection of Data-Intensive Web Applications, Cloud Architectures, AI Product Design & recently IoT (specifically LoRaWAN).",
  },
  {
    id: "tech-stack",
    title: "Tech-Stack",
    content:
      "I code mostly in Python in my day-to-day work (e.g. Airflow, Flask, FastAPI, various ML tools). I enjoyed trying out functional languages like Scala. Recently I'm working on some small projects in Rust.",
  },
  {
    id: "education",
    title: "Education",
    content:
      "I recently graduated in a MSc in Computer Science at Georgia Tech, previously I did my BSc at Bocconi University (BEMACS).",
  },
];
---

<Main title="About me">
  <div class="container mx-auto my-24 flex flex-wrap-reverse h-auto">
    <div class="flex-auto w-full md:w-1/3 object-cover my-auto">
      <Picture
        src={profileImage}
        widths={[300]}
        format="webp"
        sizes="(max-width: 300px) 100vw, 300px"
        alt="My profile picture"
        class:list={[
          "mx-auto",
          "border-2",
          "dark:border-amber-400",
          "border-blue-600",
        ]}
      />
    </div>
    <div class="flex-auto w-full md:w-2/3 mb-8">
      <div class="container w-4/6 mx-auto">
        <span>
          <h1 class="text-center text-4xl dark:text-amber-400 text-blue-600">
            Giulio Mazzanti
          </h1>
          <h2 class="text-center">(a.k.a. Giuzzilla)</h2>
        </span>
        <div class="container my-5">
          <div>I'm a Software Engineer based in Milan (Italy).</div>
          {
            sections.map((section) => (
              <BioButton targetId={section.id}>{section.title}</BioButton>
            ))
          }
          {
            sections.map((section) => (
              <div class="bio-section hidden" id={section.id}>
                {section.content}
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</Main>
