---
import Main from "./main.astro";
import DateTag from "../components/DateTag.astro";

const { frontmatter } = Astro.props;
---

<style is:global>
    article {
        @apply overflow-x-auto;

        a {
            @apply underline hover:text-blue-700 dark:hover:text-amber-400;
        }

        h1 {
            @apply text-4xl my-4;
        }

        h2 {
            @apply text-3xl my-4;
        }

        h3 {
            @apply text-2xl my-4;
        }

        h4 {
            @apply text-xl my-4;
        }

        h5 {
            @apply text-lg my-4;
        }

        p {
            @apply my-4;
        }

        .astro-code {
            @apply p-8 my-8;
        }

        svg {
            @apply my-8 mx-auto;
        }

        ul {
            @apply list-disc list-inside my-4;

            ul {
                @apply list-[circle] list-inside ml-4 my-0;
            }
        }
    }
</style>

<Main title={frontmatter.title}>
    <div class="container mx-auto my-24 h-auto">
        <header class="my-16 mx-8">
            <h1 class="text-center text-4xl max-w-screen-lg mx-auto my-8">
                {frontmatter.title}
            </h1>
            <div class="text-center my-2 align-center">
                <span>Date: </span>
                <DateTag date={frontmatter.pubDate} />
            </div>
            {
                frontmatter.updateDate && (
                    <div class="text-center my-2 align-center">
                        <span>Updated: </span>
                        <DateTag date={frontmatter.updateDate} />
                    </div>
                )
            }
            <div class="text-center my-8 align-center">
                {frontmatter.description}
            </div>
        </header>
        <hr />
        <slot />
    </div>
</Main>
